.btn {
    padding: 1.5rem 4rem;
    text-decoration: none;
    font-size: 1.6rem;

    &-outline {
        border: 2px solid var(--color-cta);

    }

    &-round {
        border-radius: 100px;
    }

    &-link {
        text-decoration: none;
        font-size: 1.6em;
    }

    &-cta {
        background-color: var(--color-cta);
        color: var(--color-white);
        padding: 2rem 8rem;
    }
}